.archive--publications {
  font-size: 0.95rem;
}

.archive--publications .page__title {
  font-size: 2rem;
}

.archive--publications .archive__item-title {
  font-size: 1.15rem;
}

.archive--publications .archive__item p {
  margin: 0.1rem 0;
  line-height: 1.2;
}

.archive--publications .archive__item-title {
  margin-bottom: 0.15rem;
}

.archive--publications .archive__item {
  margin-bottom: 0.5rem;
}
